[submodule "external/fmt"]
	path = external/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "external/glfw"]
	path = external/glfw
	url = https://github.com/glfw/glfw.git
[submodule "external/glad"]
	path = external/glad
	url = https://github.com/Dav1dde/glad.git
[submodule "external/box2d"]
	path = external/box2d
	url = https://github.com/erincatto/box2d.git
[submodule "external/stb"]
	path = external/stb
	url = https://github.com/nothings/stb.git
[submodule "external/CLI11"]
	path = external/CLI11
	url = https://github.com/CLIUtils/CLI11.git
[submodule "external/asio"]
	path = external/asio
	url = https://github.com/chriskohlhoff/asio.git
